$color_pallet : #3D547B #4B6183 #201b07 #87888C #132854 #0a1946;

$col1 : #F7F0D5;
$col2 : #001a82;
$col3 : #00327e;
$col4 : #003692;
$col5 : #132854;
$col6 : #0a1946;
$col7 : #ff4343;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}



.hero {
    height: 100vh;
    overflow-x: hidden;
    // overflow-y: auto;
    perspective: 1px;
    overflow-y: auto;

    background: #1f1e1e;

    &::-webkit-scrollbar {
        background-color: $col6;
        width: 10px;
        margin-top: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $col1;
        border-radius: 5px;
        margin-inline: 2rem;
        scroll-behavior: smooth;
    }


    .nav {
        position: relative;
        top: 2%;
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        padding: 0.2rem 1rem;
        color: $col6;
        background-color: #f7f0d59c;
        margin: 0 3.5rem;
        border-radius: 5px;
        box-shadow: 0 10px 30px $col6;

        &::-webkit-scrollbar {
            display: none;
        }

        .logo {
            position: absolute;
            text-align: center;
            top: 2px;
            // text-shadow: -1px -1px 2px rgb(251, 251, 251);

            h3 {
                color: rgb(0, 0, 0);

                span{
                    font-size: 2rem;
                    color: #ff0000;
                }
            }



        }

        // img {
        //     transform: skewY(-7deg);
        //     position: absolute;
        //     top: -0.4rem;
        //     // left: -3rem;
        //     height: 4rem;
        //     width: 6rem;
        //     object-fit: cover;

        // }
    }

    .nav_box {
        position: relative;
        padding-inline-start: 35rem;


        ul {
            display: flex;
            justify-content: space-between;
            // position: relative;
            // align-items: center;

            li {
                list-style: none;
                // padding: 0.2rem 1.1rem;
                padding: 0.8rem 1.1rem;

                &:hover {
                    color: $col7;
                    text-shadow: 5px 5px 10px $col1;
                    font-size: 1.2rem;
                    // padding: 0 1.1rem;
                    padding: 0.6rem 1.1rem;
                    cursor: pointer;

                }
            }
        }
    }

    .nav_other {
        margin-left: 5rem;
        color: red;
    }
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;

    h1 {
        position: absolute;
        font-size: 9rem;
        font-weight: 900;
        color: rgb(240, 255, 240);
        top: 12%;
        left: 18%;
        text-shadow: 1px 2px 5px black;
        letter-spacing: 1rem;
        z-index: -2000;
    }

}

.bgimg1,
.bgimg2 {
    position: absolute;
    // object-fit: cover;
    z-index: -1;
}

.bgimg1 {
    transform: translateZ(-5px) scale(3);
}

.bgimg2 {
    transform: translateZ(-2px) scale(1.5);
}

.info {
    background-color: $col6;
    color: azure;
}

.heading {
    position: relative;
    left: 25%;
    color: rgb(247, 249, 255);
    font-size: 3.5rem;
    font-weight: 600;
    padding: 1rem 10rem 0 10rem;
}

.bg {
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.bg5{
    background-image: url("../images/para-gliding.avif");
}

.bg2{
    background-image: url("../images/sky-diving.avif");
}

.bg3{
    background-image: url("../images/zip-lining.avif");
}

.bg1{
    background-image: url("../images/biking.avif");
}

.bg4{
    background-image: url("../images/surfing.avif");
}

.text {
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

.desc {
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 3.5rem;
    font-weight: 600;
    border-radius: 15px;
}

#last_text {
    padding-bottom: 5rem;
}